{% load static %}
<footer class="rodape">
    <nav class="navbar bg-success">
        <div class="container">
          <a class="navbar-brand" href="#">
            <img src="{% static 'img/facebook.svg' %}" alt="icone Facebook" width="30" height="24">
          </a>
          <a class="navbar-brand" href="#">
            <img src="{% static 'img/instagram.svg' %}" alt="icone Instagram" width="30" height="24">
          </a>
          <a class="navbar-brand" href="#">
            <img src="{% static 'img/twitter.svg' %}" alt="icone Twitter" width="30" height="24">
          </a>
          <a class="navbar-brand" href="#">
            <img src="{% static 'img/whatsapp.svg' %}" alt="icone Whatsapp" width="30" height="24">
          </a>
        </div>
    </nav>
</footer>
