{% if products %}
{% for product in products %}
<div class="col-12 col-sm-6 col-md-4 col-lg-3 my-3">
    <article class="card">
        <img src="{{product.image.url}}" class="card-img-top product-image" alt="{{product.description}}">
        <div class="card-body">
            <h4 class="card-title fw-semibold">{{product}}</h4>
            <p class="card-text">{{product.description}}</p>
            <h6 class="text-end">R$ {{product.price}}</h6>
        </div>
    </article>
</div>
{% endfor %}

{% else %}
    <h2 class="text-center">Infelizmente ainda não temos produtos disponíveis</h2>
{% endif %}