{% extends 'partials/_base.html' %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
{% endblock links %}
{% block page %}Home{% endblock page %}
{% block content %}
<main class="container principal text-center">
    {% include 'partials/_messages.html' %}
    <div class="principal__content d-flex flex-column justify-content-evenly align-items-center">
        <h1>Seja bem Vindo a Sorveteria Tropical</h1>
        <h4>Para visualizar nossos produtos e ficar por dentro de todas as nossas novidade e promoções, faça o seu <a href="{% url 'login' %}">Login</a> ou o seu...</h4>
        <a class="btn btn-success btn-lg text-uppercase principal__btn" href="{% url 'register' %}">Cadastro</a>
    </div>
</main>
{% endblock content %}
