{% extends 'partials/_base.html' %}
{% load static %}
{% block links %}
<link rel="stylesheet" href="{% static 'styles/style.css' %}">
{% endblock links %}
{% block page %}Cadastro{% endblock page %}
{% block content %}
<main class="container py-3">
    {% include 'partials/_messages.html' %}
    <div class="d-flex flex-column justify-content-evenly">
        <form action="{% url 'register' %}" class="formulario" method="POST">{% csrf_token %}
            <figure class="d-flex justify-content-center">
                <img class="align-self-center form__icon" src="{% static 'img/check-logo.svg' %}" alt="Icone de login">
            </figure>
            <div class="row">
                <div class="col">
                    <label for="email" class="form-label fw-semibold fs-5">Seu Nome</label>
                    <input type="text" class="form-control" placeholder="Nome" name="firstName" required>
                </div>
                <div class="col">
                    <label for="email" class="form-label fw-semibold fs-5">Seu Sobrenome</label>
                    <input type="text" class="form-control" placeholder="Sobrenome" name="lastName" required>
                </div>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label fw-semibold fs-5">Email</label>
                <input type="email" class="form-control fw-semibold" id="email" placeholder="Seu email" name="email" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label fw-semibold fs-5">Senha</label>
                <input type="password" class="form-control fw-semibold" id="password" placeholder="Sua senha" name="password" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label fw-semibold fs-5">Confirmar Senha</label>
                <input type="password" class="form-control fw-semibold" id="password" placeholder="Repita sua senha" name="confirmPassword" required>
            </div>
            <button type="submit" class="btn btn-success btn-lg">Cadastrar-me</button>
        </form>
    </div>
</main>
{% endblock content %}
