{% extends 'partials/_base.html' %}
{% block content %}
<main class="container principal text-center">
    <div class="principal__content d-flex flex-column justify-content-evenly align-items-center">
        <h1>Seja bem Vindo a Sorveteria Tropical</h1>
        <h4>Para visualizar nossos produtos e ficar por dentro de todas as nossas novidade e promoções, faça o seu <a href="login.html">Login</a> ou o seu...</h4>
        <a class="btn btn-success btn-lg text-uppercase principal__btn" href="register.html">Cadastro</a>
    </div>
</main>
{% endblock content %}
