{% extends 'partials/_base.html' %}
{% load static %}
{% block links %}
<link rel="stylesheet" href="{% static 'styles/dashboard.css' %}">
<link rel="stylesheet" href="{% static 'styles/products.css' %}">
{% endblock links %}
{% block page %}Dashboard{% endblock page %}
{% block content %}
<main class="container main">
    {% include 'partials/_messages.html' %}
    <h6 class="text-center">
        Olá, <span class="text-primary">{{user.first_name}}</span>
    </h6>
    <section class="row">
        {% include 'products/product.html' %}
    </section>
</main>
{% endblock content %}